fastapi
uvicorn[standard]
python-multipart
pytesseract
Pillow
numpy
opencv-python-headless
torch
torchvision
transformers
spacy
nltk
scikit-learn
aiofiles
notebook
google-api-python-client
google-auth
google-auth-httplib2
